<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.document.mapper.EnrollPreUploadMapper">
    <select id="getUsernameById" resultType="java.lang.String">
        SELECT username
        FROM sys_user
        WHERE id = #{candidateId}
    </select>
    <select id="page" resultType="top.continew.admin.document.model.resp.EnrollPreUploadDetailResp">
        SELECT su.nickname,
               ep.exam_plan_name,
               org.`name` AS org_name,
               tepu.*
        FROM ted_enroll_pre_upload tepu
                 LEFT JOIN sys_user su
                           ON tepu.candidates_id = su.id
                 LEFT JOIN ted_exam_plan ep
                           ON tepu.plan_id = ep.id AND ep.is_deleted = 0
                 LEFT JOIN ted_org_class toc
                           ON tepu.batch_id = toc.id AND toc.is_deleted = 0
                 LEFT JOIN ted_org org
                           ON toc.org_id = org.id AND org.is_deleted = 0
            ${ew.customSqlSegment}
    </select>
    <select id="selectPreDoc" resultType="top.continew.admin.document.model.dto.EnrollPrePassDTO">
        SELECT
        tepu.id,
        tepu.candidates_id,
        tepu.plan_id,
        tepu.qualification_file_url,
        tepu.batch_id,
        tdp.type_id,
        GROUP_CONCAT(tdp.doc_path) AS doc_paths
        FROM ted_enroll_pre_upload tepu
        LEFT JOIN ted_document_pre tdp
        ON tepu.id = tdp.enroll_pre_upload_id
        AND tdp.is_deleted = 0
        WHERE tepu.id IN
        <foreach collection="reviewIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND tepu.is_deleted = 0
        GROUP BY tepu.id, tdp.type_id, tepu.candidates_id, tepu.plan_id, tepu.qualification_file_url, tepu.batch_id
        ORDER BY tepu.id, tdp.type_id
    </select>
</mapper>