<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.exam.mapper.ExamPlanMapper">

    <sql id="selectPlanPage">
        SELECT tep.id,
               tep.plan_year,
               tep.exam_plan_name,
               tep.start_time,
               tep.image_url,
               tep.end_time,
               tep.max_candidates,
               tep.actual_candidates,
               tep.plan_type,
               tep.assign_type,
               tep.status,
               tep.approval_time,
               tep.enroll_start_time,
               tep.enroll_end_time,
               tep.create_user,
               tep.update_user,
               tep.is_final_confirmed,
               CASE
                   WHEN tep.update_user IS NOT NULL THEN su.nickname
                   ELSE NULL
                   END                      AS approvedUser,
               tep.create_time,
               tep.update_time,
               tep.exam_fee,
               tel.location_name,
               tp.project_name,
               tep.exam_project_id,
               tep.location_id,
               IFNULL(ec.enrolled_count, 0) AS enrolled_count,
               pwd.exam_password
        FROM ted_exam_plan tep
                 LEFT JOIN ted_exam_location tel ON tel.id = tep.location_id
                 LEFT JOIN ted_project tp ON tp.id = tep.exam_project_id
                 LEFT JOIN sys_user su ON su.id = tep.update_user
                 LEFT JOIN (SELECT exam_plan_id,
                                   COUNT(id) AS enrolled_count
                            FROM ted_enroll
                            WHERE enroll_status IN (1, 4, 5)
                              AND is_deleted = 0
                            GROUP BY exam_plan_id) ec ON ec.exam_plan_id = tep.id
                 LEFT JOIN (SELECT tpi.exam_plan_id,
                                   MAX(tpi.exam_password) AS exam_password
                            FROM ted_plan_invigilate tpi
                                     JOIN ted_classroom tc
                                          ON tpi.classroom_id = tc.id
                                              AND tc.classroom_type = 0
                                              AND tc.exam_type = 0
                            WHERE tpi.is_deleted = 0
                            GROUP BY tpi.exam_plan_id) pwd ON pwd.exam_plan_id = tep.id
    </sql>
    <insert id="savePlanClassroom">
        INSERT INTO ted_plan_classroom (plan_id, classroom_id)
        VALUES
        <foreach collection="classroomId" item="cid" separator=",">
            (#{planId}, #{cid})
        </foreach>
    </insert>
    <delete id="deletePLanExamClassroom">
        DELETE
        FROM ted_plan_classroom
        WHERE plan_id = #{planId}
    </delete>

    <select id="selectExamPlanPage" resultType="top.continew.admin.exam.model.resp.ExamPlanDetailResp">
        <include refid="selectPlanPage"/>
        ${ew.customSqlSegment}
        ORDER BY tep.id DESC
    </select>

    <select id="selectDetailById" resultType="top.continew.admin.exam.model.resp.ExamPlanDetailResp">
        SELECT tep.id,
               tep.plan_year,
               tep.start_time,
               tep.image_url,
               tep.exam_plan_name,
               tep.end_time,
               tep.max_candidates,
               tep.actual_candidates,
               tep.enroll_start_time,
               tep.enroll_end_time,
               tep.plan_type,
               tep.status,
               tep.approval_time,
               tep.create_user,
               tep.update_user,
               tep.create_time,
               tep.update_time,
               tep.is_final_confirmed,
               tel.location_name,
               tp.project_name,
               tep.exam_project_id,
               tep.location_id,
               tp.exam_duration
        FROM ted_exam_plan tep
                 LEFT JOIN ted_exam_location as tel ON tel.id = tep.location_id
                 LEFT JOIN ted_project as tp ON tp.id = tep.exam_project_id
        WHERE tep.is_deleted = 0
          and tep.id = #{id}
    </select>
    <select id="selectAllList" resultType="top.continew.admin.exam.model.entity.ExamPlanDO">
        SELECT *
        FROM ted_exam_plan
        WHERE is_deleted = 0
          and status = 3
    </select>
    <select id="getPlanExamClassroom" resultType="java.lang.Long">
        SELECT classroom_id
        FROM ted_plan_classroom
        WHERE plan_id = #{planId}
    </select>
    <select id="getInfo" resultType="top.continew.admin.exam.model.vo.ExamPlanVO">
        SELECT tep.id,
               tep.plan_year,
               tep.start_time,
    </select>
    <select id="hasClassroomTimeConflict" resultType="java.lang.Integer">
        SELECT COUNT(tep.id)
        FROM ted_exam_plan tep
        LEFT JOIN ted_plan_classroom tpc ON tep.id = tpc.plan_id
        WHERE tep.`status` NOT IN (4, 6)
        AND tep.is_deleted = 0
        AND tpc.classroom_id IN
        <foreach collection="classroomId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND #{startTime} &lt; DATE_SUB(tep.end_time, INTERVAL 30 MINUTE)
        AND #{endTime} &gt; DATE_ADD(tep.start_time, INTERVAL 30 MINUTE)
        AND tep.id != #{planId}
    </select>
    <select id="getPlanLocationIdsById" resultType="java.lang.Long">
        SELECT DISTINCT tlc.location_id
        FROM ted_exam_plan tep
        LEFT JOIN ted_plan_classroom tpc ON tep.id = tpc.plan_id
        LEFT JOIN ted_location_classroom tlc ON tpc.classroom_id = tlc.classroom_id AND tlc.is_deleted = 0
        WHERE tep.id IN
        <foreach collection="planIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND tep.is_deleted = 0
    </select>
    <select id="orgGetPlanList" resultType="top.continew.admin.exam.model.vo.OrgExamPlanVO">
        SELECT tep.id                                       AS exam_plan_id,
               tep.*,
               tp.id                                        AS project_id,
               tp.project_name,
               tp.project_code,
               tp.exam_duration,
               tp.exam_fee                                  AS project_exam_fee,
               tc.`name`                                    AS category_name,
               (tep.max_candidates - COUNT(DISTINCT te.id)) AS remaining_slots
        FROM ted_exam_plan tep
                 LEFT JOIN ted_project tp
                           ON tep.exam_project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tp.category_id = tc.id AND tc.is_deleted = 0
                 LEFT JOIN ted_org_category_relation tocr
                           ON tp.category_id = tocr.category_id AND tocr.is_deleted = 0
                 LEFT JOIN ted_org_user tou
                           ON tocr.org_id = tou.org_id AND tou.is_deleted = 0
                 LEFT JOIN ted_enroll te
                           ON tep.id = te.exam_plan_id AND te.enroll_status IN (1, 4) AND te.is_deleted = 0 ${ew.customSqlSegment}
          AND tep.is_deleted = 0
          AND tou.user_id = #{userId}
        GROUP BY tep.id
        ORDER BY tep.id DESC;
    </select>
    <select id="listConflictClassrooms" resultType="java.lang.String">
        SELECT DISTINCT tc.classroom_name
        FROM ted_exam_plan tep
        LEFT JOIN ted_plan_classroom tpc ON tep.id = tpc.plan_id
        LEFT JOIN ted_classroom tc ON tc.id = tpc.classroom_id
        WHERE tep.`status` NOT IN (4, 6)
        AND tep.is_deleted = 0
        AND tpc.classroom_id IN
        <foreach collection="classroomIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND DATE(tep.start_time) = DATE(#{startTime})
    </select>
    <select id="getPlanExamTheoryClassroom" resultType="java.lang.Long">
        SELECT tc.id
        FROM ted_plan_classroom tpc
                 LEFT JOIN ted_classroom tc
                           ON tpc.classroom_id = tc.id AND tc.is_deleted = 0
        WHERE tpc.plan_id = #{planId}
          AND tc.exam_type = 0
    </select>
    <select id="invigilateGetPlanList" resultType="top.continew.admin.exam.model.vo.InvigilateExamPlanVO">
        SELECT tep.id AS 'plan_id', tep.plan_type,
               tep.exam_plan_name AS 'plan_name', tep.start_time,
               tep.is_final_confirmed,
               tp.project_name,
               tp.id AS 'project_id', tp.project_code,
               tp.exam_duration,
               tc.`name` AS 'category_name', tpi.invigilate_status,
               classroom.classroom_name,
               classroom.exam_type,
               classroom.id AS 'classroom_id', tel.location_name,
               tel.detailed_address
        FROM ted_plan_invigilate tpi
                 INNER JOIN ted_exam_plan tep
                            ON tpi.exam_plan_id = tep.id
                 LEFT JOIN ted_project tp
                           ON tep.exam_project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tp.category_id = tc.id AND tc.is_deleted = 0
                 LEFT JOIN ted_classroom classroom
                           ON tpi.classroom_id = classroom.id AND classroom.is_deleted = 0
                 LEFT JOIN ted_location_classroom tlc
                           ON classroom.id = tlc.classroom_id AND tlc.is_deleted = 0
                 LEFT JOIN ted_exam_location tel
                           ON tlc.location_id = tel.id AND tel.is_deleted = 0 ${ew.customSqlSegment}
            AND tpi.invigilator_id = #{userId}
            AND tpi.is_deleted = 0
            AND tep.is_deleted = 0
            AND tep.is_final_confirmed = 2
        ORDER BY tep.start_time
    </select>
    <select id="findExamPlansByUsername" resultType="java.util.Map">
        SELECT tep.exam_plan_name, te.exam_number, tep.id AS exam_plan_id
        FROM sys_user su
                 LEFT JOIN ted_enroll te
                           ON su.id = te.user_id AND te.is_deleted = 0
                 LEFT JOIN ted_exam_plan tep
                           ON te.exam_plan_id = tep.id AND tep.is_deleted = 0
        WHERE su.username = #{username}
          AND te.enroll_status = 1
    </select>
    <select id="selectListByPlanType" resultType="java.util.Map">
        SELECT tp.id  AS project_id,
               tp.project_name,
               tep.id AS plan_id,
               tep.exam_plan_name
        FROM ted_project tp
                 LEFT JOIN ted_exam_plan tep
                           ON tp.id = tep.exam_project_id
                               AND tep.is_deleted = 0
                               AND tep.plan_type = #{planType}
                               AND tep.status = 6
        WHERE tp.is_deleted = 0
    </select>
    <select id="selectOrgBindProjectId" resultType="java.lang.Long">
        SELECT tp.id
        FROM sys_user su
                 JOIN ted_org_user tou
                      ON su.id = tou.user_id AND tou.is_deleted = 0
                 JOIN ted_org_category_relation tocr
                      ON tou.org_id = tocr.org_id AND tocr.is_deleted = 0
                 JOIN ted_project tp
                      ON tocr.category_id = tp.category_id AND tp.is_deleted = 0 AND tp.project_status = 2
        WHERE su.id = #{userId}
    </select>
    <select id="selectByIdForUpdate" resultType="top.continew.admin.exam.model.entity.ExamPlanDO">
        SELECT *
        FROM ted_exam_plan
        WHERE id = #{id}
            FOR UPDATE
    </select>
    <select id="selectExamPlanPagegetClassExamStatsPage"
            resultType="top.continew.admin.exam.model.resp.ExamPlanDetailResp">
        WITH dedup_records AS (SELECT plan_id,
                                      candidate_id,
                                      exam_result_status,
                                      is_certificate_generated,
                                      exam_paper
                               FROM ted_exam_records
                               WHERE is_deleted = 0
                               GROUP BY plan_id, candidate_id, exam_result_status, is_certificate_generated, exam_paper)
        SELECT tep.id,
               tep.exam_plan_name,
               tp.project_name,
               org.name                                                                     AS org_name,
               tp.is_operation                                                              AS has_oper,
               toc.id                                                                       AS class_id,
               toc.class_name,
               CASE WHEN tc.id = #{roadExamTypeId} THEN 1 ELSE 0 END                        AS has_road,
               COUNT(DISTINCT te.user_id)                                                   AS enrolled_count,
               COUNT(DISTINCT dr.candidate_id)                                              AS exam_count,
               COUNT(DISTINCT CASE WHEN dr.exam_result_status = 1 THEN dr.candidate_id END) AS passed_count,
               COUNT(DISTINCT CASE WHEN dr.exam_result_status = 0 THEN dr.candidate_id END) AS failed_count,
               COUNT(DISTINCT CASE WHEN dr.exam_result_status = 2 THEN dr.candidate_id END) AS not_entered_count,
               COUNT(DISTINCT CASE
                                  WHEN dr.is_certificate_generated = 1
                                      THEN dr.candidate_id END)                             AS certificate_generated_count,
               COUNT(DISTINCT CASE
                                  WHEN dr.is_certificate_generated = 0
                                      THEN dr.candidate_id END)                             AS certificate_not_generated_count,
               COUNT(DISTINCT CASE
                                  WHEN dr.exam_paper IS NULL
                                      THEN dr.candidate_id END)                             AS absent_count
        FROM ted_exam_plan tep
                 JOIN ted_project tp
                      ON tep.exam_project_id = tp.id
                          AND tp.is_deleted = 0
                 JOIN ted_category tc
                      ON tp.category_id = tc.id AND tc.is_deleted = 0
                 JOIN ted_enroll te
                      ON tep.id = te.exam_plan_id
                          AND te.is_deleted = 0
                 JOIN ted_org_class toc
                      ON te.class_id = toc.id
                          AND toc.is_deleted = 0
                 JOIN ted_org org
                      ON toc.org_id = org.id
                          AND org.is_deleted = 0
                 JOIN ted_plan_apply_class tpac
                      ON toc.id = tpac.class_id AND is_score_confirmed = 0 AND tpac.is_deleted = 0
                 LEFT JOIN dedup_records dr
                           ON dr.plan_id = tep.id
                               AND dr.candidate_id = te.user_id ${ew.customSqlSegment}
        GROUP BY
            tep.id,
            tep.exam_plan_name,
            tp.project_name,
            org.name,
            toc.id,
            toc.class_name
        ORDER BY toc.id DESC
    </select>
    <select id="getClassroomIdsWithExamOnDate"
            resultType="top.continew.admin.exam.model.dto.ClassroomInvigilatorDTO">
        SELECT DISTINCT tpi.classroom_id, tpi.invigilator_id
        FROM ted_exam_plan tep
                 JOIN ted_plan_invigilate tpi
                      ON tep.id = tpi.exam_plan_id
                          AND tpi.is_deleted = 0
        WHERE tep.is_final_confirmed = 1
          AND tep.is_deleted = 0
          AND tep.start_time &gt;= #{startOfDay}
          AND tep.start_time &lt; #{endOfDay}
    </select>
    <select id="selectQualifiedInvigilators" resultType="java.lang.Long">
        SELECT tuq.user_id
        FROM ted_user_qualification tuq
        JOIN ted_exam_plan tep
        ON tep.id = #{examPlanId}
        JOIN ted_project tp
        ON tp.id = tep.exam_project_id
        AND tp.is_deleted = 0
        JOIN ted_category tc
        ON tc.id = tp.category_id
        AND tc.is_deleted = 0
        WHERE tuq.user_id IN
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND tuq.category_id = tc.id
        AND tuq.is_deleted = 0
    </select>
    <select id="findInvigilatorsByDateAndClassrooms"
            resultType="top.continew.admin.exam.model.dto.ClassroomInvigilatorDTO">
        SELECT pi.classroom_id, pi.invigilator_id
        FROM ted_plan_invigilate pi
        WHERE pi.classroom_id IN
        <foreach collection="classroomIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND pi.is_deleted = 0
        AND pi.exam_plan_id = (
        SELECT MAX(p.id)
        FROM ted_exam_plan p
        WHERE DATE(p.start_time) = DATE(#{startTime})
        AND p.is_deleted = 0
        AND p.is_final_confirmed = 1
        )
        ORDER BY pi.id DESC
    </select>


    <update id="batchUpdatePlanMaxCandidates">
        UPDATE ted_exam_plan
        SET max_candidates = CASE id
        <foreach collection="planList" item="plan">
            WHEN #{plan.id} THEN #{plan.maxCandidates}
        </foreach>
        END
        WHERE id IN
        <foreach collection="planList" item="plan" open="(" separator="," close=")">
            #{plan.id}
        </foreach>
    </update>

</mapper>