<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.exam.mapper.ExamNoticeMapper">
    <select id="page" resultType="top.continew.admin.exam.model.resp.ExamNoticeDetailResp">
        SELECT ten.*,
               tc.`name`                                                            AS category_name,
               GROUP_CONCAT(tp.project_code ORDER BY tp.project_code SEPARATOR '、') AS project_codes
        FROM ted_exam_notice ten
                 LEFT JOIN ted_category tc
                           ON ten.category_id = tc.id
                               AND tc.is_deleted = 0
                 LEFT JOIN ted_exam_notice_plan tenp
                           ON ten.id = tenp.notice_id
                               AND tenp.is_deleted = 0
                 LEFT JOIN ted_project tp
                           ON tenp.project_id = tp.id
                               AND tp.is_deleted = 0
                               AND tp.project_level = ten.exam_level
            ${ew.customSqlSegment}
        GROUP BY ten.id
        ORDER BY ten.id DESC
    </select>
    <select id="getCategoryNoticeTree"
            resultType="top.continew.admin.document.model.dto.CategoryNoticeTreeDTO">
        SELECT tc.id AS category_id, tc.`name` AS category_name, ten.id AS notice_id, ten.title, ten.exam_level
        FROM ted_category tc
                 LEFT JOIN ted_exam_notice ten
                           ON tc.id = ten.category_id AND ten.`status` = 1 AND ten.is_deleted = 0
        WHERE tc.is_deleted = 0
          AND tc.category_type IN (3, 4)
    </select>
    <select id="getProjectByNoticeId" resultType="top.continew.admin.exam.model.resp.ProjectResp">
        SELECT DISTINCT tp.*
        FROM ted_project tp
                 INNER JOIN ted_exam_plan tep
                            ON tp.id = tep.exam_project_id
                                AND tep.is_deleted = 0
                 INNER JOIN ted_exam_notice_plan tenp
                            ON tep.id = tenp.plan_id
                                AND tenp.is_deleted = 0
        WHERE tp.is_deleted = 0
          AND tenp.notice_id = #{noticeId}
    </select>
    <select id="getAlreadyUploadDocList"
            resultType="top.continew.admin.system.model.vo.UploadedDocumentTypeVO">
        SELECT DISTINCT tdt.id AS id,
                        tdt.type_name,
                        td.doc_path
        FROM ted_examinee_document ted
                 JOIN ted_document td ON ted.document_id = td.id
            AND td.is_deleted = 0
                 JOIN ted_document_type tdt ON td.type_id = tdt.id
            AND tdt.is_deleted = 0
        WHERE ted.examinee_id = #{userId}
          AND ted.notice_id = #{noticeId}
          AND ted.is_deleted = 0
    </select>
    <select id="inspectionGetNoticeList" resultType="top.continew.admin.exam.model.resp.ExamNoticeDetailResp">
        SELECT ten.*,
               tena.`status` AS apply_status,
               tc.`name`     AS category_name,
               GROUP_CONCAT(
                       tp.project_code ORDER BY tp.project_code
        SEPARATOR '、'
               )             AS project_codes,
               tena.remark   AS reject_reason
        FROM ted_exam_notice ten

                 LEFT JOIN ted_category tc
                           ON ten.category_id = tc.id
                               AND tc.is_deleted = 0

                 LEFT JOIN ted_exam_notice_plan tenp
                           ON ten.id = tenp.notice_id
                               AND tenp.is_deleted = 0

                 LEFT JOIN ted_project tp
                           ON tenp.project_id = tp.id
                               AND tp.is_deleted = 0
                               AND tp.project_level = ten.exam_level

                 LEFT JOIN ted_examinee_notice_apply tena
                           ON ten.id = tena.notice_id
                               AND tena.is_deleted = 0
            ${ew.customSqlSegment}
        GROUP BY
            ten.id,
            tena.status,
            tc.name,
            tena.remark
        ORDER BY
            ten.id DESC
    </select>
    <select id="selectNoticePlanInfo" resultType="top.continew.admin.exam.model.dto.NoticePlanInfoDTO">
        SELECT
        tenp.plan_id,
        tp.is_theory,
        tp.is_operation
        FROM ted_exam_notice_plan tenp
        JOIN ted_project tp
        ON tenp.project_id = tp.id
        AND tp.is_deleted = 0
        WHERE tenp.notice_id IN
        <foreach collection="noticeIds"
                 item="noticeId"
                 open="("
                 separator=","
                 close=")">
            #{noticeId}
        </foreach>
        AND tenp.is_deleted = 0
    </select>
</mapper>