<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.exam.mapper.ExamRecordsMapper">
    <select id="getExamRecords" resultType="top.continew.admin.exam.model.dto.ExamRecordDTO">
        SELECT ter.id,
               ter.plan_id,
               ter.candidate_id,
               ter.exam_scores,
               ter.oper_scores,
               ter.oper_input_status,
               ter.road_scores,
               ter.road_input_status,
               ter.attempt_type,
               ter.is_certificate_generated,
               ter.exam_paper,
               ter.exam_result_status,
               ter.registration_progress,
               ter.create_time,
               tep.exam_plan_name AS planName,
               su.nickname        AS candidateName,
               su.username,
               tp.is_operation,
               tp.project_name,
               tp.id AS project_id,
               toc.class_name,
               CASE
                   WHEN tc.id = #{roadExamTypeId} THEN 1
                   ELSE 0
                   END            AS is_road,
               CASE
                   WHEN tp.id IN (#{metalProjectId}, #{nonmetalProjectId}) THEN
                       JSON_ARRAYAGG(
                               JSON_OBJECT(
                                       'id', twos.id,
                                       'project_code', twos.project_code,
                                       'oper_score', twos.oper_score
                               )
                       )
                   ELSE
                       JSON_ARRAY()
                   END            AS welding_oper_scores
        FROM ted_exam_records AS ter
                 LEFT JOIN ted_exam_plan AS tep
                           ON ter.plan_id = tep.id AND tep.is_deleted = 0
                 LEFT JOIN ted_project AS tp
                           ON tep.exam_project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN ted_category AS tc
                           ON tp.category_id = tc.id AND tc.is_deleted = 0
                 LEFT JOIN sys_user AS su
                           ON ter.candidate_id = su.id
                 LEFT JOIN ted_enroll AS te
                           ON ter.plan_id = te.exam_plan_id AND te.user_id = su.id AND te.is_deleted = 0
                 LEFT JOIN ted_org_class AS toc
                           ON te.class_id = toc.id AND toc.is_deleted = 0
                 LEFT JOIN ted_welding_oper_score AS twos
                           ON ter.id = twos.record_id
                               AND ter.plan_id = twos.plan_id
                               AND ter.candidate_id = twos.candidate_id
                               AND twos.is_deleted = 0
            ${ew.getCustomSqlSegment}
        GROUP BY
            ter.id,
            ter.plan_id,
            ter.candidate_id,
            ter.exam_scores,
            ter.oper_scores,
            ter.oper_input_status,
            ter.road_scores,
            ter.road_input_status,
            ter.attempt_type,
            ter.is_certificate_generated,
            ter.exam_paper,
            ter.exam_result_status,
            ter.registration_progress,
            ter.create_time,
            tep.exam_plan_name,
            su.nickname,
            su.username,
            tp.is_operation,
            tp.project_name,
            toc.class_name,
            tc.id
        ORDER BY
            ter.id
    </select>
    <select id="getRecordsById" resultType="top.continew.admin.exam.model.entity.ExamRecordsDO">
        SELECT ter.*, tep.exam_plan_name AS planName, su.nickname AS candidateName
        FROM ted_exam_records ter
                 LEFT JOIN ted_exam_plan tep ON ter.plan_id = tep.id
                 LEFT JOIN sys_user su ON ter.candidate_id = su.id
        WHERE ter.id = #{id}
    </select>

    <select id="hasOperationOrRoadExam" resultType="top.continew.admin.exam.model.dto.ExamPresenceDTO">
        SELECT tp.is_operation,
               CASE
                   WHEN tc.id = #{roadExamTypeId} THEN 1
                   ELSE 0
                   END AS is_road
        FROM ted_exam_plan tep
                 LEFT JOIN ted_project tp
                           ON tep.exam_project_id = tp.id
                               AND tp.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tp.category_id = tc.id
                               AND tc.is_deleted = 0
        WHERE tep.id = #{planId}
          AND tep.is_deleted = 0
    </select>

    <select id="checkPlanHasExamType" resultType="top.continew.admin.exam.model.dto.CheckPlanHasExamTypeDTO">
        SELECT
        tep.id AS planId,
        tep.exam_plan_name AS planName,
        tp.is_operation AS isOperation,
        CASE
        WHEN tc.id = 21 THEN 1
        ELSE 0
        END AS isRoad
        FROM ted_exam_plan tep
        LEFT JOIN ted_project tp
        ON tep.exam_project_id = tp.id
        AND tp.is_deleted = 0
        LEFT JOIN ted_category tc
        ON tp.category_id = tc.id
        AND tc.is_deleted = 0
        WHERE tep.id IN
        <foreach collection="planIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND tep.is_deleted = 0
    </select>
    <select id="selectCertificateInfoByRecordIds"
            resultType="top.continew.admin.exam.model.dto.ExamRecordCertificateDTO">
        SELECT ter.id,
        su.id AS candidate_id,
        su.nickname,
        su.username,
        te.user_id,
        twa.work_unit,
        twa.face_photo,
        tc.`name` AS category_name,
        tp.project_name,
        tp.project_code,
        tp.id AS project_id
        FROM ted_exam_records ter
        LEFT JOIN sys_user su
        ON ter.candidate_id = su.id
        LEFT JOIN ted_enroll te
        ON ter.plan_id = te.exam_plan_id AND ter.candidate_id = te.user_id AND te.is_deleted = 0
        LEFT JOIN ted_worker_apply twa
        ON te.class_id = twa.class_id AND su.username = twa.id_card_number AND twa.is_deleted = 0
        LEFT JOIN ted_exam_plan tep
        ON ter.plan_id = tep.id AND tep.is_deleted = 0
        LEFT JOIN ted_project tp
        ON tep.exam_project_id = tp.id AND tp.is_deleted = 0
        LEFT JOIN ted_category tc
        ON tp.category_id = tc.id AND tc.is_deleted = 0
        WHERE ter.is_deleted = 0
        AND ter.id IN
        <foreach collection="recordIds"
                 item="id"
                 open="("
                 close=")"
                 separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectEnrollWithClass"
            resultType="top.continew.admin.exam.model.dto.EnrollWithClassDTO">
        SELECT te.user_id AS candidate_id,
        te.exam_plan_id AS plan_id,
        toc.class_name
        FROM ted_enroll te
        LEFT JOIN ted_org_class toc
        ON te.class_id = toc.id
        AND toc.is_deleted = 0
        WHERE te.is_deleted = 0
        AND
        <foreach collection="pairs"
                 item="item"
                 separator=" OR "
                 open="("
                 close=")">
            (te.user_id = #{item.userId}
            AND te.exam_plan_id = #{item.examPlanId})
        </foreach>
    </select>
    <select id="getCandidateExamRecordPage" resultType="top.continew.admin.exam.model.dto.ExamRecordDTO">
        SELECT ter.exam_scores,
               ter.oper_scores,
               ter.road_scores,
               ter.exam_paper,
               ter.exam_result_status,
               tep.exam_plan_name AS plan_name,
               tp.project_name,
               CASE
                   WHEN tp.category_id = #{roadExamTypeId} THEN 1
                   ELSE 0
                   END            AS is_road
        FROM ted_exam_records ter
                 JOIN ted_exam_plan tep
                      ON ter.plan_id = tep.id AND tep.is_deleted = 0
                 JOIN ted_project tp
                      ON tep.exam_project_id = tp.id AND tp.is_deleted = 0
                 JOIN ted_category tc
                      ON tp.category_id = tc.id AND tc.is_deleted = 0 ${ew.getCustomSqlSegment}
        ORDER BY ter.id DESC
    </select>
    <select id="selectWeldingProjectCodeByRecordId"
            parameterType="java.lang.Long"
            resultType="java.lang.String">
        SELECT twa.welding_project_code
        FROM ted_exam_records ter
                 JOIN ted_enroll te
                      ON ter.plan_id = te.exam_plan_id
                          AND ter.candidate_id = te.user_id
                          AND te.is_deleted = 0
                 JOIN sys_user su
                      ON te.user_id = su.id
                 JOIN ted_worker_apply twa
                      ON te.class_id = twa.class_id
                          AND su.username = twa.id_card_number
                          AND twa.is_deleted = 0
        WHERE ter.id = #{recordId}
          AND ter.is_deleted = 0
    </select>
    <select id="selectWeldingProjectCodeByRecordIds" resultType="map" parameterType="java.util.List">
        SELECT
        er.id AS record_id,
        GROUP_CONCAT(twa.welding_project_code) AS welding_project_codes
        FROM ted_exam_records er
        JOIN ted_enroll te
        ON er.plan_id = te.exam_plan_id
        AND er.candidate_id = te.user_id
        AND te.is_deleted = 0
        JOIN sys_user su
        ON te.user_id = su.id
        JOIN ted_worker_apply twa
        ON te.class_id = twa.class_id
        AND su.username = twa.id_card_number
        AND twa.is_deleted = 0
        WHERE er.id IN
        <foreach collection="recordIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY er.id
    </select>


</mapper>