<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.training.mapper.OrgClassMapper">

    <select id="page" resultType="top.continew.admin.training.model.resp.OrgClassDetailResp">
        SELECT toc.*, tp.project_name
        FROM ted_org_class toc
                 LEFT JOIN ted_project tp
                           ON toc.project_id = tp.id AND tp.is_deleted = 0
            ${ew.customSqlSegment}
    </select>
    <select id="workerClassPage" resultType="top.continew.admin.training.model.resp.OrgClassDetailResp">
        SELECT toc.*,
               tp.project_name,
               COUNT(twa.id)                                   AS worker_count,
               SUM(CASE WHEN twa.status = 0 THEN 1 ELSE 0 END) AS pending_review_count,
               SUM(CASE WHEN twa.status = 1 THEN 1 ELSE 0 END) AS approved_count,
               SUM(CASE WHEN twa.status = 2 THEN 1 ELSE 0 END) AS rejected_count,
               SUM(CASE WHEN twa.status = 4 THEN 1 ELSE 0 END) AS wait_upload_count,
               SUM(CASE WHEN twa.status = 5 THEN 1 ELSE 0 END) AS uploaded_count
        FROM ted_org_class toc
                 LEFT JOIN ted_project tp
                           ON toc.project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN ted_worker_apply twa
                           ON toc.id = twa.class_id AND twa.is_deleted = 0
            ${ew.customSqlSegment}
        GROUP BY toc.id
        ORDER BY toc.id DESC
    </select>
    <select id="getSelectClassByProjectIds"
            resultType="top.continew.admin.training.model.vo.ProjectCategoryVO">
        SELECT toc.id AS `value`,
        toc.class_name AS `label`,
        toc.project_id AS `parentId`
        FROM ted_org_class toc
        WHERE toc.is_deleted = 0
        AND toc.project_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getSelectClassByProject" resultType="top.continew.admin.training.model.vo.SelectClassVO">
        SELECT id AS `value`, class_name AS `label`
        FROM ted_org_class
        WHERE project_id = #{projectId}
          AND class_type = #{classType}
          AND is_deleted = 0
    </select>
</mapper>