<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.training.mapper.OrgMapper">
    <select id="getStudentInfo" resultType="java.lang.String">
        select su.nickname as candidate_name
        from ted_org as o
                 left join ted_org_candidate as oc
                           on oc.org_id = o.id
                 left join sys_user as su
                           on oc.candidate_id = su.id
        where oc.is_deleted = 0
          and oc.status = 2
          and o.id = #{orgId}
    </select>

    <select id="getOrgId" resultType="top.continew.admin.training.model.dto.OrgDTO">
        SELECT tou.org_id as id,
               tedo.code
        FROM ted_org_user tou
                 LEFT JOIN ted_org tedo on tou.org_id = tedo.id
        WHERE tou.user_id = #{userId}
          AND tou.is_deleted = 0
    </select>
    <select id="getCandidatesList" resultType="top.continew.admin.training.model.resp.OrgCandidatesResp">
        SELECT tei.real_name    AS nickName,
               toc.candidate_id AS candidate_id,
               su.phone         AS phoneNumber,
               toc.org_id       AS org_id,
               tp.id            AS project_id,
               tp.project_name,
               tei.gender,
               tei.id_card_photo_front,
               tei.id_card_photo_back
        FROM ted_org_candidate toc
                 LEFT JOIN ted_project tp
                           ON toc.project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN sys_user su
                           ON toc.candidate_id = su.id
                 LEFT JOIN ted_exam_idcard tei
                           ON su.username = tei.id_card_number AND tei.is_deleted = 0
            ${ew.customSqlSegment}
    </select>

    <select id="getOrgList" resultType="top.continew.admin.training.model.resp.OrgResp">
        select
        distinct
        o.id as id,
        o.code as code,
        o.name as name,
        o.social_code as socialCode,
        o.location as location,
        o.legal_person as legalPerson,
        o.scale as scale,
        o.business_license as businessLicense,
        o.create_time as createTime,
        o.update_user as updateUser,
        o.update_time as updateTime,
        o.is_deleted as asisDeleted
        from ted_org as o
        <if test="bool == true">
            join ted_org_candidate as c
            on o.id = c.org_id
        </if>
        ${ew.customSqlSegment}
    </select>

    <select id="getOrgDetail" resultType="top.continew.admin.training.model.resp.OrgDetailResp">
        select distinct o.id               as id,
                        o.code             as code,
                        o.name             as name,
                        o.social_code      as socialCode,
                        o.location         as location,
                        o.legal_person     as legalPerson,
                        o.scale            as scale,
                        o.business_license as businessLicense,
                        o.is_deleted       as isDeleted
        from ted_org as o
        where o.id = #{orgId}
    </select>

    <select id="getAgencyStatus" resultType="top.continew.admin.training.model.vo.AgencyStatusVO">
        select id, org_id, status, remark,payment_status
        from ted_org_candidate
        where is_deleted = 0
        and org_id = #{orgId}
        and candidate_id = #{userId}
        <if test="projectId != null">
            and project_id = #{projectId}
        </if>
        limit 1
    </select>
    <select id="selectByUserId" resultType="top.continew.admin.training.model.resp.OrgDetailResp">
        SELECT org.*, -- 改用org代替to
               su.nickname,
               su.phone
        FROM ted_org_user tou
                 LEFT JOIN
             ted_org org ON tou.org_id = org.id -- 别名改为org
                 LEFT JOIN
             sys_user su ON tou.user_id = su.id
        WHERE tou.user_id = #{userId}
          AND tou.is_deleted = 0
    </select>
    <select id="getAcountInfo" resultType="java.lang.String">
        select su.nickname
        from ted_org as o
                 left join ted_org_user as ou
                           on ou.org_id = o.id
                 left join sys_user as su
                           on ou.user_id = su.id
        where ou.is_deleted = 0
          and o.id = #{orgId}
    </select>
    <select id="getBindableUsers" resultType="top.continew.admin.training.model.vo.UserVO">
        SELECT su.id, su.nickname, su.username
        FROM sys_user AS su
                 LEFT JOIN sys_user_role AS sur ON sur.user_id = su.id
                 LEFT JOIN sys_role AS sr ON sur.role_id = sr.id
                 LEFT JOIN ted_org_user AS tou
                           ON tou.user_id = su.id AND tou.is_deleted = 0
        WHERE sr.id = #{organizationId}
          AND tou.user_id IS NULL;
    </select>
    <select id="getSelectCategoryProject" resultType="top.continew.admin.training.model.vo.ProjectCategoryVO">
        SELECT tc.id AS `value`, tc.name AS `label`
        FROM ted_org org
                 LEFT JOIN ted_org_user tou
                           ON org.id = tou.org_id AND tou.is_deleted = 0
                 LEFT JOIN ted_org_category_relation tocr
                           ON org.id = tocr.org_id AND tocr.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tocr.category_id = tc.id AND tc.is_deleted = 0
        WHERE org.is_deleted = 0
          AND tou.user_id = #{userId}
    </select>
    <select id="getSelectCategoryProjectByOrgId"
            resultType="top.continew.admin.training.model.vo.ProjectCategoryVO">
        SELECT tc.id AS `value`, tc.name AS `label`
        FROM ted_org org
                 LEFT JOIN ted_org_category_relation tocr
                           ON org.id = tocr.org_id AND tocr.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tocr.category_id = tc.id AND tc.is_deleted = 0
        WHERE org.is_deleted = 0
          AND org.id = #{orgId}
    </select>

    <select id="getAllCategoryByUserId" resultType="top.continew.admin.training.model.vo.ProjectCategoryVO">
        SELECT tc.id        AS `value`,
               tc.name      AS `label`,
               tc.parent_id AS `parentId`
        FROM ted_org org
                 LEFT JOIN ted_org_user tou ON org.id = tou.org_id AND tou.is_deleted = 0
                 LEFT JOIN ted_org_category_relation tocr ON org.id = tocr.org_id AND tocr.is_deleted = 0
                 LEFT JOIN ted_category tc ON tocr.category_id = tc.id AND tc.is_deleted = 0
        WHERE org.is_deleted = 0
          AND tou.user_id = #{userId}
    </select>

    <select id="getAllCategoryByOrgId" resultType="top.continew.admin.training.model.vo.ProjectCategoryVO">
        SELECT tc.id        AS `value`,
               tc.name      AS `label`,
               tc.parent_id AS `parentId`
        FROM ted_org org
                 LEFT JOIN ted_org_category_relation tocr ON org.id = tocr.org_id AND tocr.is_deleted = 0
                 LEFT JOIN ted_category tc ON tocr.category_id = tc.id AND tc.is_deleted = 0
        WHERE org.is_deleted = 0
          AND org.id = #{orgId}
    </select>
    <select id="getSelectProjectClass" resultType="top.continew.admin.training.model.vo.OrgProjectClassVO">
        SELECT p.id           AS projectId,
               p.project_name AS projectLabel,
               c.id           AS classId,
               c.class_name   AS classLabel
        FROM ted_org_class c
                 JOIN ted_project p
                      ON c.project_id = p.id
                          AND p.is_deleted = 0
        WHERE c.is_deleted = 0
          AND c.org_id = #{orgId}
          AND c.project_id = #{projectId}
    </select>
    <select id="getSelectProjectClassCandidate"
            resultType="top.continew.admin.training.model.vo.OrgProjectClassCandidateVO">
        SELECT p.id             AS projectId,
               p.project_name   AS projectLabel,
               c.id             AS classId,
               c.class_name     AS classLabel,
               occ.candidate_id AS candidateId,
               su.nickname      AS nickname
        FROM ted_org_class_candidate occ
                 JOIN ted_org_class c
                      ON occ.class_id = c.id
                          AND c.is_deleted = 0
                          AND c.org_id = #{orgId}
                          AND c.project_id = #{projectId}
                          AND c.class_type = #{planType}
                 JOIN ted_project p
                      ON c.project_id = p.id
                          AND p.is_deleted = 0
                 JOIN sys_user su
                      ON occ.candidate_id = su.id
        WHERE occ.is_deleted = 0
          AND NOT EXISTS (SELECT 1
                          FROM ted_enroll ee
                          WHERE ee.user_id = occ.candidate_id
                            AND ee.exam_plan_id = #{planId}
                            AND ee.is_deleted = 0)
        ORDER BY p.id, c.id, occ.candidate_id;
    </select>
    <select id="getOrgSelect" resultType="top.continew.admin.training.model.vo.SelectOrgVO">
        SELECT id AS `value`, `name` AS label
        FROM ted_org
        WHERE is_deleted = 0
    </select>
    <select id="getSelectProjectClassByType"
            resultType="top.continew.admin.training.model.vo.OrgProjectClassTypeVO">
        SELECT org.id   AS org_id,
               org.name AS org_name,
               tp.id    AS project_id,
               tp.project_name,
               toc.id   AS class_id,
               toc.class_name
        FROM ted_org org
                 LEFT JOIN ted_org_category_relation tocr
                           ON org.id = tocr.org_id AND tocr.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tocr.category_id = tc.id AND tc.is_deleted = 0
                 LEFT JOIN ted_project tp
                           ON tc.id = tp.category_id AND tp.is_deleted = 0
                 LEFT JOIN ted_org_class toc
                           ON tp.id = toc.project_id AND toc.is_deleted = 0
        WHERE org.is_deleted = 0
          AND toc.class_type = #{type}
        ORDER BY org.id, tp.id, toc.id;

    </select>
    <select id="getSelectOrgProjectClassByType"
            resultType="top.continew.admin.training.model.vo.OrgProjectClassVO">
        SELECT p.id           AS projectId,
               p.project_name AS projectLabel,
               c.id           AS classId,
               c.class_name   AS classLabel
        FROM ted_org_class c
                 JOIN ted_project p
                      ON c.project_id = p.id
                          AND p.is_deleted = 0
        WHERE c.is_deleted = 0
          AND c.org_id = #{orgId}
          AND c.class_type = #{type}
    </select>
    <select id="getNeedUploadDoc" resultType="java.lang.String">
        SELECT type_name
        FROM ted_org_class toc
                 LEFT JOIN ted_project_document_type tpdt
                           ON toc.project_id = tpdt.project_id AND tpdt.is_deleted = 0
                 LEFT JOIN ted_document_type tdt
                           ON tpdt.document_type_id = tdt.id AND tdt.is_deleted = 0
        WHERE toc.is_deleted = 0
          AND toc.id = #{classId}
          AND tdt.type_name != '身份证'
    </select>


    <update id="approveStudent" parameterType="java.lang.Long">
        update ted_org_candidate
        set status = 2
        where is_deleted = 0
          and org_id = #{orgId}
          and candidate_id = #{userId}
    </update>

    <update id="refuseStudent" parameterType="java.lang.Long">
        update ted_org_candidate
        set status = -1
        where is_deleted = 0
          and org_id = #{orgId}
          and candidate_id = #{userId}
    </update>

    <!-- 退出机构班级 -->
    <update id="studentQuitAgencyClass">
        UPDATE ted_org_class_candidate coc
        SET coc.is_deleted = 1,
            coc.status     = 3
        WHERE coc.candidate_id = #{userId}
          AND coc.class_id IN (SELECT id
                               FROM ted_org_class oc
                               WHERE oc.org_id = #{orgId}
                                 AND oc.is_deleted = 0)
    </update>

    <!-- 退出机构 -->
    <update id="studentQuitAgency">
        UPDATE ted_org_candidate
        SET is_deleted = 1,
            status     = 0
        WHERE org_id = #{orgId}
          AND candidate_id = #{userId}
          AND is_deleted = 0
    </update>

</mapper>