<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.exam.mapper.ProjectMapper">

    <sql id="projectPageSql">
        SELECT tp.*,
               tc.name as category_name,
               sd.name as dept_name
        FROM ted_project AS tp
                 LEFT JOIN ted_category as tc ON tp.category_id = tc.id AND tc.is_deleted = 0
                 LEFT JOIN sys_dept as sd ON sd.id = tp.dept_id
    </sql>

    <select id="selectProjectPage" resultType="top.continew.admin.exam.model.resp.ProjectDetailResp">
        <include refid="projectPageSql"/>
        ${ew.customSqlSegment}
    </select>

    <select id="getDeptProjectTree"
            resultType="top.continew.admin.exam.model.vo.ProjectCategoryProjectFlatVo">
        SELECT
        tc.id AS categoryId,
        tc.name AS categoryName,
        tp.id AS projectId,
        tp.project_name AS projectName,
        tp.is_operation AS isOperation
        FROM ted_category tc
        LEFT JOIN ted_project tp
        ON tc.id = tp.category_id
        AND tp.is_deleted = 0
        AND tp.project_status = 2
        <if test="planType != null and planType != 2">
            AND tp.project_type = #{planType}
        </if>
        WHERE tc.is_deleted = 0
        <if test="deptId != null">
            AND tp.dept_id = #{deptId}
        </if>
        ORDER BY tc.id, tp.id
    </select>

    <select id="selectBindingLocationByIds" resultType="java.lang.Long">
        SELECT tpla.location_id
        FROM ted_project AS tp
                 LEFT JOIN ted_proj_loc_assoc AS tpla ON tpla.project_id = tp.id
        WHERE tp.is_deleted = 0
          AND tpla.is_deleted = 0
          AND tp.id = #{id}
    </select>

    <select id="selectBindingDocumentByIds" resultType="java.lang.Long">
        SELECT tpdt.document_type_id
        FROM ted_project AS tp
                 LEFT JOIN ted_project_document_type AS tpdt ON tpdt.project_id = tp.id
        WHERE tp.is_deleted = 0
          AND tpdt.is_deleted = 0
          AND tp.id = #{id}
    </select>

    <select id="getBindingDocumentByIds" resultType="top.continew.admin.document.model.resp.DocumentTypeResp">
        SELECT t3.id        as id,
               t3.type_name as type_name
        FROM ted_project AS t1
                 LEFT JOIN ted_project_document_type AS t2 ON t1.id = t2.project_id
                 LEFT JOIN ted_document_type AS t3 ON t2.document_type_id = t3.id
        WHERE t2.is_deleted = 0
          AND t1.is_deleted = 0
          AND t3.is_deleted = 0
          AND t1.id = #{projectId}
    </select>
    <select id="getAllProject" resultType="top.continew.admin.exam.model.resp.ProjectResp">
        SELECT tp.id,
               tp.project_name,
               tp.dept_id,
               tp.exam_duration,
               tp.project_code,
               tp.redeme,
               td.name as deptName,
               tp.project_status,
               tp.image_url
        FROM ted_project AS tp
                 LEFT join ted.sys_dept as td on td.id = tp.dept_id
            ${ew.customSqlSegment}
    </select>
    <select id="getDocumentList" resultType="String">
        SELECT t3.type_name
        FROM ted_project AS t1
                 LEFT JOIN ted_project_document_type AS t2 ON t1.id = t2.project_id
                 LEFT JOIN ted_document_type AS t3 ON t2.document_type_id = t3.id
        WHERE t2.is_deleted = 0
          AND t1.is_deleted = 0
          AND t3.is_deleted = 0
          AND t1.id = #{projectId}
    </select>
    <select id="getLocationList" resultType="String">
        SELECT t3.location_name
        FROM ted_project AS t1
                 LEFT JOIN ted_proj_loc_assoc AS t2 ON t1.id = t2.project_id
                 LEFT JOIN ted_exam_location AS t3 ON t2.location_id = t3.id
        WHERE t2.is_deleted = 0
          and t1.id = #{ projectId }
    </select>
    <select id="getProjectDetail" resultType="top.continew.admin.exam.model.resp.StudentProjectDetailResp">
        select project_name,
               project_status,
               project_code,
               image_url,
               redeme,
               exam_duration,
               td.name as deptName

        from ted_project as tp
                 left join ted.sys_dept as td on td.id = tp.dept_id
        where tp.id = #{projectId}
    </select>
    <select id="selectOptions" resultType="top.continew.admin.exam.model.vo.ProjectVo">
        SELECT ted_project.id AS `value`, ted_project.project_name AS label
        FROM ted_project
        WHERE project_status = 2;
    </select>
    <select id="getProjectsWithClassrooms"
            resultType="top.continew.admin.exam.model.vo.ProjectClassroomFlatVO">
        SELECT tp.id     AS project_id,
               tp.project_name,
               tp.project_code,
               tc.`name` AS category_name,
               tcl.id    AS classroom_id,
               tel.location_name,
               tcl.classroom_name,
               tp.project_type
        FROM ted_project AS tp
                 LEFT JOIN ted_category AS tc
                           ON tp.category_id = tc.id
                 LEFT JOIN ted_proj_loc_assoc AS tpla
                           ON tp.id = tpla.project_id
                 LEFT JOIN ted_location_classroom AS tlc
                           ON tpla.location_id = tlc.location_id
                 LEFT JOIN ted_classroom AS tcl
                           ON tlc.classroom_id = tcl.id
                 LEFT JOIN ted_exam_location tel
                           ON tlc.location_id = tel.id
        WHERE tp.is_deleted = 0
          AND tc.is_deleted = 0
          AND tpla.is_deleted = 0
          AND tlc.is_deleted = 0
          AND tcl.is_deleted = 0
          AND tel.is_deleted = 0
          AND tp.project_status = 2
          AND tcl.classroom_name IS NOT NULL;
    </select>
    <select id="getProjectRoomByProjectId" resultType="java.lang.Long">
        SELECT tcl.id
        FROM ted_project AS tp
                 LEFT JOIN ted_proj_loc_assoc AS tpla
                           ON tp.id = tpla.project_id
                 LEFT JOIN ted_location_classroom AS tlc
                           ON tpla.location_id = tlc.location_id
                 LEFT JOIN ted_classroom AS tcl
                           ON tlc.classroom_id = tcl.id
                 LEFT JOIN ted_exam_location tel
                           ON tlc.location_id = tel.id
        WHERE tp.is_deleted = 0
          AND tpla.is_deleted = 0
          AND tlc.is_deleted = 0
          AND tcl.is_deleted = 0
          AND tel.is_deleted = 0
          AND tp.id = #{projectId}
          AND tcl.classroom_name IS NOT NULL;
    </select>
    <select id="orgGetAllProject" resultType="top.continew.admin.exam.model.resp.ProjectResp">
        SELECT tp.id,
               tp.project_name,
               tp.dept_id,
               tp.exam_duration,
               tp.project_code,
               tp.redeme,
               td.name as deptName,
               tp.project_status,
               tp.image_url
        FROM ted_project AS tp
                 LEFT JOIN ted.sys_dept AS td
                           ON td.id = tp.dept_id
                 LEFT JOIN ted_org_category_relation tocr
                           ON tp.category_id = tocr.category_id
                               AND tocr.is_deleted = 0
                 LEFT JOIN ted_org_user tou
                           ON tocr.org_id = tou.org_id
                               AND tou.is_deleted = 0 ${ew.customSqlSegment}
        AND tou.user_id = #{userId}
    </select>
    <select id="getSelectCategoryProject" resultType="top.continew.admin.training.model.vo.ProjectCategoryVO">
        SELECT
        category_id AS parent_id,
        id AS `value`,
        project_name AS `label`
        FROM ted_project
        WHERE category_id IN
        <foreach collection="parentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND project_type = 0
        AND is_deleted = 0
    </select>

    <select id="getLocationClassroomList" resultType="top.continew.admin.exam.model.resp.LocationClassroomVO">
        SELECT *
        FROM ted_classroom tc
                 LEFT JOIN ted_location_classroom tlc
                           ON tc.id = tlc.classroom_id AND tlc.is_deleted = 0
                 LEFT JOIN ted_exam_location tel
                           ON tlc.location_id = tel.id AND tel.is_deleted = 0
        WHERE tc.is_deleted = 0
          AND tc.classroom_type = #{examType}
          AND tc.exam_type = #{isOperation}
    </select>

</mapper>