<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.exam.mapper.SpecialCertificationApplicantMapper">
    <insert id="insertStudentImage">
        insert into ted_special_certification_applicant
        (candidates_id, plan_id, image_url, create_user, create_time, status)
        values
        <foreach item="item" collection="scaList" separator=",">
            (#{item.candidatesId}, #{item.planId}, #{item.imageUrl}, #{createdUserId}, now(), #{item.status})
        </foreach>
    </insert>

    <select id="getSpecialCertification"
            resultType="top.continew.admin.exam.model.resp.SpecialCertificationApplicantResp">
        select tsca.*,
               su.nickname        AS candidatesName,
               tep.exam_plan_name AS planName,
                tp.project_name    AS projectName,
                tp.project_level    AS projectLevel,
                tc.name   AS categoryName
        from ted_special_certification_applicant tsca
                 LEFT JOIN sys_user su ON tsca.candidates_id = su.id
                 LEFT JOIN ted_exam_plan tep on tep.id = tsca.plan_id
                 LEFT JOIN ted_project tp on tp.id = tep.exam_project_id
                 LEFT JOIN ted_category tc on tc.id = tp.category_id
            ${ew.customSqlSegment}
    </select>
    <select id="selectLog" resultType="top.continew.admin.system.model.entity.UserDO">
        select * from sys_user u
        left join ted_special_certification_applicant tsca
        on u.id = tsca.candidates_id
        where tsca.plan_id = #{planId}
        and tsca.status = #{status}
        and tsca.is_deleted = 0
        and tsca.candidates_id in
        <foreach item="item" collection="scaList" open="(" separator="," close=")">
            #{item.candidatesId}
        </foreach>
    </select>
</mapper>