<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.training.mapper.StudentTrainingMapper">
    <update id="batchUpdateDuration">
        <foreach collection="list" item="item" separator=";">
            UPDATE ted_student_training
            SET total_duration = #{item.totalDuration}
            WHERE student_id = #{item.studentId}
            AND training_id = #{item.trainingId}
        </foreach>
    </update>
</mapper>