<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.training.mapper.TrainingMapper">

    <!-- 定义公共查询SQL -->
    <sql id="selectCurrentKSPage">
        SELECT DISTINCT t.*
        FROM ted_training t
                 JOIN ted_project_training pt ON t.id = pt.training_id
                 JOIN ted_exam_plan ep ON pt.project_id = ep.exam_project_id
                 JOIN ted_enroll e ON ep.id = e.exam_plan_id
        WHERE e.user_id = #{userId}
    </sql>

    <!-- 分页查询 -->
    <select id="selectCurrentKSPage" resultType="top.continew.admin.training.model.resp.TrainingDetailResp">
        <include refid="selectCurrentKSPage" />
        ${ew.customSqlSegment}
    </select>

    <select id="gettrainingList" resultType="top.continew.admin.training.model.resp.TrainingResp">
        SELECT tt.* ,te.name as expertName,tpt.project_id,tp.project_name
        FROM ted_training tt
                 LEFT JOIN ted_expert te ON tt.expert_id = te.id
            inner join ted_project_training tpt on tt.id = tpt.training_id
            inner join ted_project tp on tpt.project_id = tp.id
        ${ew.customSqlSegment}
    </select>

    <select id="queryTraningInPage" resultType="top.continew.admin.training.model.resp.TrainingResp">
        select tt.title,tt.expert_id,tt.cover_path,tt.description from ted_training tt where is_deleted = 0
    </select>

</mapper>
