<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.invigilate.mapper.UserQualificationMapper">

    <select id="listByUserId" resultType="top.continew.admin.invigilate.model.dto.UserQualificationDTO">
        SELECT
            c.name AS categoryName,
            uq.qualification_url AS qualificationUrl,
            uq.create_time AS createTime,
            uq.update_time AS updateTime
        FROM ted_user_qualification uq
                 LEFT JOIN ted_category c ON uq.category_id = c.id
        WHERE uq.user_id = #{userId}
        ORDER BY uq.create_time DESC
    </select>

</mapper>