<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.worker.mapper.WorkerApplyMapper">

    <select id="selectProjectNeedUploadDoc"
            resultType="top.continew.admin.worker.model.resp.ProjectNeedUploadDocVO">
        SELECT tdt.id, tdt.type_name,tdt.need_upload_person
        FROM ted_org_class toc
                 LEFT JOIN ted_project tp
                           ON toc.project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tp.category_id = tc.id AND tc.is_deleted = 0
                 LEFT JOIN ted_project_document_type tpdt
                           ON tp.id = tpdt.project_id AND tpdt.is_deleted = 0
                 LEFT JOIN ted_document_type tdt
                           ON tpdt.document_type_id = tdt.id AND tdt.is_deleted = 0
        WHERE toc.id = #{classId}
          AND toc.is_deleted = 0
          AND tdt.type_name != '身份证'
    </select>
    <select id="page" resultType="top.continew.admin.worker.model.resp.WorkerApplyDetailResp">
        SELECT twa.id,
               twa.class_id,
               twa.candidate_name,
               twa.gender,
               twa.phone,
               twa.remark,
               twa.apply_type,
               twa.qualification_path,
               twa.qualification_name,
               twa.id_card_number,
               twa.id_card_address,
               twa.id_card_photo_front,
               twa.id_card_photo_back,
               twa.face_photo,
               twa.`status`,
               twa.political_status,
               twa.education,
               twa.work_unit,
               twa.address,
               toc.class_name,
               tp.project_name,
               tc.`name` AS category_name
        FROM ted_worker_apply twa
                 LEFT JOIN ted_org_class toc
                           ON twa.class_id = toc.id AND toc.is_deleted = 0
                 LEFT JOIN ted_project tp
                           ON toc.project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tp.category_id = tc.id AND tc.is_deleted = 0
            ${ew.customSqlSegment}
    </select>
    <select id="selectWorkerUploadedDocs"
            resultType="top.continew.admin.worker.model.resp.WorkerUploadedDocsVO">
        SELECT twa.id,
               twa.candidate_name,
               twa.qualification_path,
               twa.qualification_name,
               twa.id_card_photo_front,
               twa.id_card_photo_back,
               twa.remark,
               twa.face_photo,
               twa.`status`,
               JSON_ARRAYAGG(
                       JSON_OBJECT(
                               'typeId', twad.type_id,
                               'typeName', tdt.type_name,
                               'docPaths', twad.doc_path
                       )
               ) AS documents
        FROM ted_worker_apply twa
                 LEFT JOIN ted_worker_apply_document twad
                           ON twa.id = twad.worker_apply_id AND twad.is_deleted = 0
                 LEFT JOIN ted_document_type tdt
                           ON twad.type_id = tdt.id AND tdt.is_deleted = 0
        WHERE twa.is_deleted = 0
          AND twa.id_card_number = #{idCard}
          AND twa.class_id = #{classId}
        GROUP BY twa.id;
    </select>
    <select id="getProjectInfoByClassId" resultType="top.continew.admin.worker.model.resp.ProjectInfoVO">
        SELECT tc.name AS category_name, tp.project_name,toc.class_name
        FROM ted_org_class toc
                 LEFT JOIN ted_project tp
                           ON toc.project_id = tp.id AND tp.is_deleted = 0
                 LEFT JOIN ted_category tc
                           ON tp.category_id = tc.id AND tc.is_deleted = 0
        WHERE toc.id = #{classId}
          AND toc.is_deleted = 0
    </select>


</mapper>